/* CSS for Navbar: Show it is fixed to the top  */
body {
  padding-top: 4.5rem;
  background: #E9ECE9;
  font-family: 'Noto Sans', sans-serif;
  height:100%;width:100%;
}
#index_body {
  background: url('../img/index.jpg') no-repeat center center fixed;
  padding-top: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#brand_text {
  font-family: 'Berkshire Swash', cursive;
}
#index_text h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 10em;
  color: #F5F5DC;
}
#index_text h3, h5 {
  font-family: 'Noto Sans', sans-serif; 
  color:#F5F5DC;
}
#bg_filter {
  background-color: white;
}
/* ###### CSS override styling the navbar #####  */
.navbar-custom {
    background-color: #71B580;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #B64B3F;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #E9ECE9;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #B64B3F;
}

/* ############  nav-pills 2nd menu override ###########  */
.nav {
  font-size: 1.4em;
}
/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: #F5F5DC;
    color: #B64B3F;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: #F5F5DC;
    color: #B64B3F;
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: #F5F5DC;
    color: #B64B3F;
}
/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: #B64B3F;
    color: white;
}

.nav-pills .pill-2 .nav-link { 
    background-color: #B64B3F;
    color: white;
}

.nav-pills .pill-3 .nav-link {
    background-color: #B64B3F;
    color: white;
}
hr.style5 {
  background-color: #E9ECE9;
  border-top: 3px dashed    #71B580;
}

/*  styling for the jumbotron with background image*/
#jumbotron-bg-image {background-color:inherit;}
.container-full-bg {width:100%;height:100%;max-width:100%;background-position:center;background-size:cover;}
.container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}

/*  navigation  */
.nav {
  font-size: 1.4em;
}
  
#bg_text {
  background-color: white;
  opacity: 0.8;
}
#index-bg {
  color:#FFA07A;
  opacity: 
}
/* color for icons footer */
.fa {
  color:  #71B580;
}

/*  scroll to top button design  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #71B580;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius:50%;
  font-weight: bold;
}
#myBtn:hover {
  background-color:#000;
} 
.green-background {
  background-color: #71B580;
}
.white {
  color: white;
}

/*green:   #71B580*/
/*light salmon: #FFA07A*/
/* beige: #F5F5DC